<div>
    <div class="red-panel">
    </div>
    <div class="list-panel" *ngIf="!loading">
        <div class="list-panel-filters">
            <div class="bar-filter-container">
                <button type="button" [routerLink]="'/app/clientPermission'" class="btn btn-large btn-block btn-info">
                    <</button>
            </div>
            <div class="bar-filter-container">
                <h3>Permisos cliente > Permisos > {{clientPermissionId ? 'Editar' : 'Nueva'}} Permiso</h3>
            </div>
        </div>
        <div style="clear:both;"></div>

        <div class="container">
            <div class="form-container">
                <div class="form-group">
                    <label class="purchaseLabel">Llave permiso</label>
                    <input type="text" class="form-control" [(ngModel)]="clientPermission.name">
                </div>
                <button type="button" class="btn btn-primary" (click)="saveClientPermission(clientPermission);" [disabled]="!clientPermission.name">Guardar</button>
            </div>
        </div>
    </div>
    <div class="loading" *ngIf="loading">
        <div class="cssload-thecube">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
    </div>
</div>
