<div>
    <div class="red-panel">
    </div>
    <div class="list-panel" *ngIf="!loading">
        <h3>Desarrollador > Catálogo de recursos</h3>
        <div class="list-panel-filters">
            <div class="bar-filter-container">
                <input type="text" placeholder="Permiso" class="form-control" [(ngModel)]='filter.category' (ngModelChange)="filterResourcePermission()">
            </div>
            <div class="bar-filter-container">
                <button type="button" class="btn btn-warning" (click)="cleanFilters();">Limpiar</button>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div class="table-container">
            <table class="table table-hover">
                <colgroup>
                    <col span="1">
                    <col style="width:130px;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Permiso</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resourcePermission of resourcePermissions">
                        <td>{{resourcePermission.name}}</td>
                        <td>
                            <button type="button" class="btn btn-primary action-button" [routerLink]="['edit', resourcePermission.id]">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-primary action-button" (click)="deleteResourcePermissionModal(resourcePermission)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="no-info" *ngIf="resourcePermissions.length == 0">
                            <small>No hay información para mostrar</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-pagination *ngIf="dataToShow && switchPagination" [totalItems]="dataToShow.length" [(ngModel)]="currentPage" [maxSize]="20"
            class="pagination-sm" [boundaryLinks]="true" (pageChanged)="pageChanged($event)" previous-text="&lsaquo;" next-text="&rsaquo;"></ng-pagination>
        <ng-pagination *ngIf="dataToShow && !switchPagination" [totalItems]="dataToShow.length" [(ngModel)]="currentPage" [maxSize]="20"
            class="pagination-sm" [boundaryLinks]="true" (pageChanged)="pageChanged($event)" previous-text="&lsaquo;" next-text="&rsaquo;"></ng-pagination>

        <button type="button" class="btn btn-info" (click)="configureNewResourcePermission();">Agregar recursos</button>

    </div>
</div>
<div class="loading" *ngIf="loading">
    <div class="cssload-thecube">
        <div class="cssload-cube cssload-c1"></div>
        <div class="cssload-cube cssload-c2"></div>
        <div class="cssload-cube cssload-c4"></div>
        <div class="cssload-cube cssload-c3"></div>
    </div>
</div>
<ng2-toasty></ng2-toasty>
