.cc-panel-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.cc-panel {
    display: table-cell;
    vertical-align: middle;
    background-color: transparent;
    height: 100%;
    width: 100%;
    text-align: center;
}

.header {
    background-color: white;
    height: 20%;
}

.cc-panel img {
    display: block;
    height: 55px;
    width: 18.7em;
    margin-right: auto;
    margin-left: auto;
}

.cc-panel .form-cc {
    width: 100%;
    height: 80%;
    text-align: left;
}

.cc-panel .form-cc .input-group, .cc-panel input {
    height: 55px;
    width: 30%;
    margin: auto;
    background: transparent;
    border-color: white;
}

.cc-panel .form-cc .input-group, .cc-panel .input-group-addon {
    background: transparent;
    border-color: white;
    color: white;
    font-size: 25px;
}

.input-group-addon {
    padding: 6px 12px;
    border: 1px solid #ccc;
}

input {
    font-size: 24px !important;
    color: black !important;
}

.cc-panel .aplication-name {
    font-size: 22px;
}

.main-container {
    width: 100%;
    height: 100%;
    background: url("/assets/img/bg-Login-1920x1080.jpg") no-repeat center center;
    position: fixed;
    text-align: center;
    font-size: 12px;
    background-size: cover;
}

.main-container label, input, span {
    text-align: left;
}

input {
    width: 100% !important;
    border-left: transparent;
    color: white;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
    font-style: normal;
    font-size: 17px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    font-style: normal;
    font-size: 17px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
    font-style: normal;
    font-size: 17px;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
    font-style: normal;
    font-size: 17px;
}

.glyphicon {
    position: initial;
}

.forgotPass {
    text-align: end;
    font-size: medium !important;
}

p {
    margin: 0px 32px 0px;
}

.company-logo {
    margin-bottom: 45px;
}

.login-panel {
    width: 30%;
    display: inline-block;
    text-align: left;
    padding: 55px;
    opacity: 0.9;
}

.login-input {
    color: black !important;
    font-size: 26px !important;
}

.login-input img {
    height: 100%;
}

.btn-login {
    width: 100%;
    HEIGHT: 57px;
    background: #d72222;
    border-radius: 8px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.form-group {
    height: 55px;
}

.login-img {
    margin-top: 5%;
    background: url("/assets/img/casas-javer.png") no-repeat center center;
    background-size: contain;
    width: 20%;
    height: 10%;
    display: inline-block;
}

div.version-container {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 8px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.username-input-container {
    margin-bottom: 5%;
}

.password-input-container {
    margin-bottom: 10%;
}

.privacy-policy-container {
    margin-top: 8%;
}

.privacy-policy-container a {
    font-size: 18px;
    color: #337ab7;
    text-decoration: none;
}

.privacy-policy-container a:focus {
    color: #23527c;
}

/* Custom checkbox styles */
.container {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 5%;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 15px;
    height: 21px;
    width: 21px;
    border: 2px solid #000;
    background-color: transparent;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 13px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media only screen and (min-width: 319px) and (max-width: 420px) {
    .login-panel {
        width: 90%;
        padding: 30px 35px;
        margin: 0 auto
    }

    .cc-panel img {
        height: 55px;
        width: 15em;
    }

    div.version-container {
        padding: 5px;
        font-size: 10px;
    }

    .company-logo {
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 420px) and (max-width: 768px) {
    .login-panel {
        width: 90%;
        padding: 15px 35px;
        margin-top: 0%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .login-panel {
        width: 55%;
        padding: 55px;
    }

    .cc-panel img {
        height: 55px;
        width: 15em;
    }
}

@media only screen and (max-height: 420px) and (min-width: 560px) and (orientation: landscape) {
    .login-panel {
        width: 90%;
        padding: 15px 35px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .cc-panel input {
        height: 40px;
    }

    .cc-panel img {
        display: none;
    }

    div.version-container {
        padding: 5px;
        font-size: 10px;
    }

    .username-input-container {
        margin-bottom: 0;
    }

    .password-input-container {
        margin-bottom: 5px;
    }

    .show-password-input-container {
        height: 22px;
        margin-bottom: 10px;
    }

    .privacy-policy-container {
        margin-top: 3%;
    }

    .login-input {
        font-size: 18px !important;
    }

    .btn-login {
        height: 45px;
        font-size: 16px;
    }

}
