<div class="container-fluid">
    <div class="row custom-modal-header">
        <div class="col-xs-12">
            <h3 align="center">Agregar comentario</h3>
        </div>
        <div class="col-xs-12 row">
            <!-- <input type="text" [(ngModel)]="comment"> -->
            <textarea class="text-area" name="Comment" [(ngModel)]="comment" cols="40" rows="10" maxlength="1000"></textarea>
            <span style="font-size: 12px; display: block;text-align: center;" [ngStyle]="{'color' :  comment?.length == 1000 ? 'red' : 'black' }">({{comment?.length || 0}}/1000 carácteres máximo)</span>
        </div>
        <div class="col-xs-12 row custom-modal-footer">
            <button type="button" class="btn btn-primary" (click)='closeOk();'>Aceptar</button>
            <button type="button" class="btn btn-primary" (click)='closeNot();'>Cancelar</button>
        </div>
    </div>
</div>