.btn-info {
    float: right;
    margin-right: 40px;
}

.list-panel-filters .bar-filter-container{
    max-width: 180PX;
    min-width: 110px;
}

.list-panel-filters .bar-filter-container .form-control{
    padding: 6px 4px;
    font-size: 12px;
}
.eye-button{
    background: #ed1b24;
    width: 41px;
    height: 33px;
    padding: 0px 8px;
    cursor: pointer;
}