button {
  display: block;
  margin: 20px auto;
}

.custom-modal-header > div {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
}

.custom-modal-content > div {
  font-size: 15px;
  padding: 25px 15%;
}
